.rootContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.footer {
    @extend .rootContainer
}

.landingImage {
    max-width: 90vw;
    max-height: 90vh;
}

.landingMenu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.menuButton {
    width: 100%;
}